:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}
body {
  padding: 1rem;
  display: grid;
  place-items: center;
  gap: 1.25rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  min-height: 100vh;
  background-color: var(--Very-Light-Gray);
}
main {
  max-width: 21.25rem;
  margin: auto;
}
.c-card-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-card-component__heading {
  text-align: center;
}
.c-card-component__heading h1 {
  font-size: 1.7rem;
  font-weight: 200;
  color: var(--Very-Dark-Blue);
}
.c-card-component__heading h1 span {
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--Very-Dark-Blue);
  margin-top: 0.5rem;
}
.c-card-component__heading p {
  margin-top: 1.5rem;
  color: var(--Grayish-Blue);
  font-weight: 400;
  font-size: 1rem;
}
.c-card-component__grid-container {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  list-style-type: none;
}
.grid-container__items {
  padding: 2rem;
  box-shadow: 5px 5px 10px 10px hsl(234, 12%, 90%);
  border-top: 5px solid;
}
.grid-container__items h2 {
  color: var(--Very-Dark-Blue);
  font-weight: 600;
  font-size: 1.5rem;
}
.grid-container__items p {
  margin-top: 1.5rem;
  color: var(--Grayish-Blue);
  font-weight: 400;
  font-size: 1rem;
}
.grid-container__items img {
  margin-top: 2.5rem;
  margin-left: auto;
}
.item-1 {
  border-color: var(--Cyan);
}
.item-2 {
  border-color: var(--Red);
}
.item-3 {
  border-color: var(--Orange);
}
.item-4 {
  border-color: var(--Blue);
}
footer {
  margin-top: 1rem;
}
.attribution {
  font-size: 0.8rem;
  text-align: center;
}
.attribution a {
  color: var(--Red);
  font-weight: 600;
}
@media (min-width: 47.5rem) {
  main {
    max-width: 50rem;
  }
  .c-card-component__grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 62.5rem) {
  main {
    max-width: 75rem;
  }
  .c-card-component__grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .item-1 {
    grid-row: 2/4;
  }
  .item-2 {
    grid-row: 1/3;
  }
  .item-3 {
    grid-row: 3/5;
  }
  .item-4 {
    grid-row: 2/4;
  }
}
